asgiref==3.5.2
cffi==1.15.1
cryptography==38.0.4
Django==4.1.4
django-extensions==3.2.1
MarkupSafe==2.1.1
psycopg2-binary==2.9.5
pycparser==2.21
pyOpenSSL==22.1.0
sqlparse==0.4.3
tzdata==2022.7
Werkzeug==2.2.2
whitenoise==6.2.0
